.FilterMenu {
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.Filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    width: 120px;
}

label {
    font-size: 12px;
}

select {
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black' width='16' height='16'><polygon points='12,4 8,8 16,8'/> <polygon points='12,16 8,12 16,12'/></svg>")
        no-repeat right 0px center;
    background-size: 20px;
}
